<!-- Base html for getting shared elements for all pages -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Secure File Sharing App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <title>{%block title%}{%endblock title%}</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-2">
            <a class="navbar-brand" href="{% if user.is_authenticated %}{% url 'file_app:profile' %}{% else %}{% url 'file_app:home' %}{% endif %}">File Sharing App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                {%if user.is_authenticated%}
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'file_app:profile'%}">Files</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'file_app:upload_file'%}">Upload</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'file_app:logout'%}">Logout</a>
                    </li>
                {%else%}
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'file_app:login'%}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'file_app:register'%}">Register</a>
                    </li>
                {%endif%}
              </ul>
            </div>
        </nav>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="container my-3">
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
		    {% endif %}

            {% block contents %}
            {% endblock contents %}
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    </body>
</html>
