<!DOCTYPE html>
{% extends './base.html' %}

{% block title %}
Profile
{% endblock title %}

{% block contents %}

{% csrf_token %}
<div class="container">
    {% if request.user.is_authenticated %}
        <h1 class="text-center mt-4">{{ request.user.username | title }}'s Files</h1>
        <div class="row justify-content-center mt-4">
            <div class="col-md-8">
                <ul class="list-group">
                    {% if files is None %}
                        <li class="list-group-item text-center">First time here! Upload and share!</li>
                        <li class="list-group-item text-center">
                            <a href="{% url 'file_app:upload' %}" class="btn btn-primary">Upload</a>
                        </li>
                    {% else %}
                        {% for file_info in files %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                {% if file_info.file.owner == request.user %}
                                    <span class="text-success">My File</span>
                                {% else %}
                                    <span class="text-primary">Shared file</span>
                                {% endif %}
                                <span>{{ file_info.file.file_name }}</span>
                                <span class="badge bg-secondary rounded-pill">{{ file_info.file.get_file_size_kb }} KB</span>
                            {% if file_info.file.owner == request.user   %}
                                 <a href="{% url 'file_app:share_file' file_info.file.id %}" class="btn btn-primary">Share</a>
                            {% endif %}
                                {% if file_info.has_permission%}
                                    <a href="{% url 'file_app:download_file' file_info.file.id %}" class="btn btn-primary">Download</a>
                                {% endif %}

                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    {% else %}
        <h3 class="text-center mt-4">You are not logged in</h3>
    {% endif %}
</div>

{% endblock contents %}
