<!DOCTYPE html>
{% extends './base.html' %}

{%block title%}
Profile
{%endblock title%}

{%block contents%}

{%csrf_token%}
<div>
    {%if request.user.is_authenticated %}
  			<h1>{{ request.user.username | title }}'s Files</h1>
            <ul>
                {% for file in files %}
                    <li>
                        {{ file.file_name }} - ${{ file.file_size }}
                        <!-- TODO: Add button for sharing the file -->
                        <a href="{% url 'file_app:share_file' file.id %}">Share</a>
                    </li>
                {% endfor %}
            </ul>
  	{%else%}
            <h3> You are not logged in </h3>
  	{%endif%}
</div>            

{%endblock contents%}