<!DOCTYPE html>
{% extends './base.html' %} 

{%block title%}
Register
{%endblock title%}

{%block contents%}
{%if error%}
<div class="alert alert-danger" role="alert">
    {{error}}
</div>
{%endif%}
<form method="POST">
    <div class="row lg-3">
        <div class="col-sm-6 {%if center%} mx-auto {%endif%}">
            <!-- {{ form.as_p }} -->
            {% for field in form %}
            <div class="form-group mb-3">
                {% if field.errors %}
                    {% for error in field.errors %}
                        <span class="invalid-feedback {%if error%}d-block{%endif%}">{{error}}</span>
                    {% endfor %}
                {%endif%}
                {{ field.label_tag }} {{ field }}
            </div>
            {% endfor %}
        </div>    
    </div>
    <input class="btn btn-primary" type="submit" value="Register">
</form>

<div class="my-2">
    <small class="text-muted">
        Already have an account ? <a class="ml-2" href="{%url 'file_app:login'%}">Sign In</a>
    </small>
</div>
{%endblock contents%}